<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App</title><script>setTimeout(() => {
      window.location.href = "/login";
    }, 5000) // 5000 milliseconds = 5 seconds</script>
  </head>
  <body>
    <h1>Quiz Score</h1>
    <p>OOPs seems like You are already responded!!!!</p>
  </body>
</html>