<!DOCTYPE html>
<html>
<head>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Quiz App</title>
      <style>
        .timer {
          position: fixed;
          top: 0;
          right: 0;
          padding: 10px;
          font-size: 24px;
          font-weight: bold;
        }
      </style>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        if(localStorage.getItem("count_timer")){
          var count_timer = localStorage.getItem("count_timer");
        }
        else{
          var count_timer = 60;
        }

        var minutes = parseInt(count_timer/60);
        var seconds = parseInt(count_timer%60);

        function countDownTimer(){
          if(seconds<10){
            seconds = "0" + seconds;
          }
          if(minutes<10){
            minutes = "0" + minutes;
          }

          document.getElementById("timer").innerHTML = "Time Left : "+minutes+" Minutes "+seconds+" Seconds";

          if(count_timer <= 0){
                    localStorage.clear("count_timer");
                    clearInterval(timer);
                    $("#myForm").submit();
         } else {
        count_timer = count_timer -1 ;
        minutes = parseInt(count_timer/60);
        seconds = parseInt(count_timer%60);
        localStorage.setItem("count_timer",count_timer);
        setTimeout("countDownTimer()",1000);
    }
        }

        setTimeout("countDownTimer()",1000);
        </script>
      <script>
        function preventBack(){
          window.history.forward();

        }
        setTimeout("preventBack()",0);
        window.onunload = function(){null};
    </script>
    </head>
    <body>
      <h1>Quiz</h1>
      <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>var timeLimit = 120; // 2 minutes</script>
      <script>
         $(document).ready(function() {
        var timer = setInterval(function() {
            timeLimit--;
            $("#timer").text(timeLimit);

            if (timeLimit <= 0) {
                clearInterval(timer);
                $("#myForm").submit();
            }
        }, 1000);
    });
      </script> -->

      
      <!-- <div>Time Left: <span id="timer"></span></div> -->
      <div id="timer" align="center"> </div>

      <form id="myForm" method="post" action="/check-answers">
        <% questions.forEach(function(question) { %>
          <h2><%= question.question %></h2>
          <% for (var i = 0; i < question.choices.length; i++) { %>
            <label>
              <input type="radio" name="<%= question.id %>" value="<%= question.choices[i] %>">
              <%= question.choices[i] %>
            </label>
          <% } %>
        <% }); %>
        <button type="submit">Submit</button>
      </form>
    </body>
  </html>
