<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Portal</title>
  </head>
  <body>
    <h1>Quiz Score</h1>
    <script>
      function preventBack(){
          window.history.forward();

        }
        setTimeout("preventBack()",0);
        window.onunload = function(){null};
  </script>
    <form method="post" action="/take-quiz">
        Enter Name: <input type="text" id="Name" name="Name" required>
        Enter Email: <input type="text" id="Email" name="Email" required>
        <br>
        <br>
        <button type="submit">Take Quiz</button>
    </form> 
  </body>
</html>
