<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App</title>
  </head>
  <body>
    <h1>Quiz Score</h1>
    <p>You got <%= score %> out of <%= totalQuestions %> questions correct!</p>
  </body>
</html>

